
 .container{
     height: 70vh;
     width: 250px;
     margin: 30px 30px 17px;
     padding: 18px;
     background: #eee;
     border-radius: 7px;
   box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
   display: flex; align-items: center;justify-content: center;
 }
/* styles the class with the name container */
body{
    display: flex;align-items: center; justify-content: center;
}
.logo{
    border-radius: 50%;
}
/* note that all the copyright goes to ITZBANDHAN
=> © 2022 itzbandhan
=> https://github.com/itzbandhan
=> check out my first calculator app: https://itzbandhan.github.io/calculator
=> check out readme.md file for more information
*/











